/* GLOBAL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial Unicode MS Regular', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
}

body{
    background-color: #222222;
    width: 75%;
    margin: auto;
}

.clear_effect{
    clear: both;
}

/* HEADER */
.header{
    background-color: #FFFFFF;
    padding: 0.2rem 0 0 10rem;
}

.header i{
    width: 2.6rem;
    height: 2.6rem;
    border: 1px solid #002146;
    border-radius: 50%;
    background-color: #002146;
    text-align: center;
    line-height: 2.2rem;
    color: #F8C401;
    font-size: 0.8rem;
    font-weight: 100;
}

.header .logo_text{
    font-size: 2rem;
    font-weight: 900;
    color: #020416;
    padding: 0.2rem 0 0.2rem 0.1rem;
}

.header__nav{
    list-style: none;
    padding: 0.5rem 0 1rem 0;
}

.header__nav li{
    display: inline;
    padding: 0 1rem;
}

/* CAROUSEL */
.carousel{
    background-image: url(./image/2.jpg);
    width: 100%;
    height: 65vh;
    background-position: top;
    background-size: cover;
}

/* INTRO */
.intro{
    background-color: #FFFFFF;
}

.intro__container{
    float: left;
    width: 50%;
}

.intro__text,.intro__img {
    padding-top: 4rem;
}
.intro__text h1{
    font-size: 2rem;
    padding: 0 4rem 0 10rem;
}

.intro__text p{
    color: #6C6C6C;
    padding: 2rem 4rem 0.1rem 10rem;
}

.intro__text button{
    width: 8rem;
    height: 2.5rem;
    font-weight: 600;
    background-color: #FDC800;
    border: none;
    border-radius: 5px;
    margin: 2.5rem 0 5rem 10rem;
}

.intro__img img{
    width: 75%;
    border: 0;
    padding-left: 0.2rem;
    padding-bottom: 4rem;
    border-radius: 0 5px 5px 0;
}

/* INFO */
.info{
    background-color: #F6F6F6;
    padding: 3rem 10rem 3rem 10rem;
}

.info__container{
    float: left;
    width: 25%;
    color: #212529;
}

.info__number{
    font-size: 4rem;
    font-weight: bold;
    padding-right: 0.2rem;
}

.info__text{
    font-size: 1.1rem;
    font-weight: 500;
}

.info__text p{
    padding: 0.2rem 0;
}

/* CATEGORY */
.category{
    background-color: #FFFFFF;
    padding: 7rem 10rem 5rem 10rem;
}

.categorygroup1,.categorygroup2{
    width: 100%;
}

.category__container1,.category__container2{
    float: left;
    width: 25%;
    padding-bottom: 2rem;
}

.category__socioligy,.category__business,.category__dev,.category__science,.category__economic,.category__biology,.category__computing,.category__design {
    border: none;
    border-radius: 5px;
    width: 15rem;
    height: 8rem;
    text-align: center;
    padding-top: 2rem;
    color: white;
    background-color: #002146;
}

.category__socioligy i,.category__business i,.category__dev i,.category__science i,.category__economic i,.category__biology i,.category__computing i,.category__design i{
    font-size: 2rem;
    padding-bottom: 0.4rem;
}

/* UPDATE */
.update{
    background-color: #F6F6F6;
    padding: 7rem 10rem 5rem 10rem;
    height: 55rem;
}

.update__method{
    float: left;
    width: 50%;
}

.post__headtext h1,.event__headtext h1{
    font-size: 2rem;
}

.post__list{
    width: 100%;
}

.post__container{
    background-color: #FFFFFF;
    width: 90%;
    height: 31rem;
    margin-top: 3rem;
}

.post__group1,.post__group2,.post__group3{
    width: 100%;
    height: 10.5rem;
}

.post__group1_img,.post__group2_img,.post__group3_img{
    width: 35%;
    float: left;
}

.post__group1_img{
    background-image: url(./image/g9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 28%;
    height: 10vh;
    border-radius: 5px;
    margin: 2rem 1rem 1rem 1rem;
}

.post__group2_img{
    background-image: url(./image/g10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 28%;
    height: 10vh;
    border-radius: 5px;
    margin: 2rem 1rem 1rem 1rem;
}

.post__group3_img{
    background-image: url(./image/g8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 28%;
    height: 10vh;
    border-radius: 5px;
    margin: 2rem 1rem 1rem 1rem;
}

.post__group1_desc,.post__group2_desc,.post__group3_desc{
    width: 65%;
    float: left;
    padding-top: 1.8rem;
    padding-right: 2rem;
}

.post__group1_desc p:first-child,.post__group2_desc p:first-child,.post__group3_desc p:first-child{
    font-weight: bold;
    padding-bottom: 0.5rem;
}

.post__group1_desc p:nth-child(2),.post__group2_desc p:nth-child(2),.post__group3_desc p:nth-child(2){
    color: grey;
    padding-bottom: 0.5rem;
}

.post__hr{
    background-color: #EEEEEE;
    margin: 0 1rem;
    width: 95%;
    height: 0.1rem;
}

.update__post button{
    width: 8em;
    height: 3rem;
    font-weight: 600;
    background-color: #FDC800;
    border: none;
    border-radius: 5px;
    float: right;
    margin-top: 1rem;
}

.event__list1{
    background-color: #FFFFFF;
    width: 100%;
    height: 13rem;
    margin-top: 3rem;
}

.event__list2{
    background-color: #FFFFFF;
    width: 100%;
    height: 13rem;
    margin-top: 1.5rem;
}

.event__date{
    width: 25%;
    float: left;
    padding-top: 1.8rem;
    padding-left: 1rem;
}

.event__desc{
    width: 75%;
    float: left;
    padding-top: 1.8rem;
    padding-right: 2rem;
}

.event__month{
    width: 6rem;
    height: 5rem;
    border: none;
    background-color: #FDCA0D;
    border-radius: 5px 5px 0 0;
    text-align: center;
    line-height: 1.8rem;
    padding-top: 1rem;
}

.event__month p:first-child{
    font-size: 2rem;
    font-weight: bold;
}

.event__month p:nth-child(2){
    font-weight: 500;
}

.event__year{
    width: 6rem;
    height: 3rem;
    border: none;
    background-color: #002146;
    border-radius: 0 0 5px 5px;
    text-align: center;
    color: white;
    padding-top: 1rem;
}

.event__desc p:first-child{
    font-weight: bold;
    padding-bottom: 0.8rem;
}

.event__desc p:nth-child(2){
    padding-bottom: 0.7rem;
}

.event__desc p:nth-child(3){
    color: #000D35;
    font-weight: 550;
}

.event__desc span{
    color: grey;
}

.update__event button{
    width: 8em;
    height: 3rem;
    font-weight: 600;
    background-color: #FDC800;
    border: none;
    border-radius: 5px;
    float: right;
    margin-top: 1rem;
    margin-top: 1.5rem;
}

/* FOOTER */
.footer{
    background-color: #002146;
    height: 27rem;
    color: white;
    padding-left: 10rem;
}

.footer__container{
    padding: 3rem 5rem 1rem 0;
    float: left;
    width: 33.33%;
}

.footer__contact h2,.footer__feature h2,.footer__link h2{
    font-size: 1.2rem;
    padding-bottom: 2rem;
}

.footer__contact p,.footer__feature p,.footer__link p{
    padding-bottom: 1rem;
}

.footer__contact span{
    font-size: 1rem;
    color: #FFD200;
    font-weight: 100;
    padding-right: 1rem;
}

.footer__hr{
    background-color: #454545;
    width: 88%;
    height: 0.05rem;
    font-weight: 100;
}

.copyright{
    padding-top: 2rem;
}

.copyright span{
    color: #B8BBBE;
}